<h1><%= @user.name %>'s page</h1>
<h3><%= @user.email %></h3>
<p> created at: <%= @user.created_at.strftime("%m/%d/%Y at %I:%M%P") %></p>
<p> last updated: <%= @user.updated_at.strftime("%m/%d/%Y at %I:%M%P") %></p>