<footer>
  <small>
    the <a href="https://www.railstutorial.org/">rails tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", static_pages_about_path %></li>
      <li><%= link_to "contact", '#' %></li>
    </ul>
  </nav>
</footer>